.garage,
.winners {
  display: flex;
  flex-direction: column;
  // background-color: $color-light;
  // height: 100%;
  &.hidden {
    display: none;
  }
}

.garage {
  background-image: url(./assets/back.png);
}

.winners {
  background-color: $color-yellow;
}

.pagination_button {
  background-color: $color-dark;
  padding-top: 10px;
  & button {
    width: 150px;
    margin-right: 20px;
  }
}