.garage,
.winners {
  display: flex;
  flex-direction: column;
  // background-color: $color-light;
  // height: 100%;
  height: 500px;
  &.hidden {
    display: none;
  }
}

.garage {
  background-color: $color-blue;
}

.winners {
  background-color: $color-yellow;
}