.garage,
.winners {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/back.png);
  &.hidden {
    display: none;
  }
}

.winners {
  height: 800px;
}

.pagination_button {
  background-color: $color-dark;
  padding-top: 10px;
  & button {
    width: 150px;
    margin-right: 20px;
  }
}