@import './style/normalize';
@import './style/constains';
@import './style/mixins';

@import './style/fonts';
@import './style/body';
@import './style/field';
@import './style/button';
@import './style/game-over';
@import './style/win-game';
@import './style/cell';
@import './style/item';
@import './style/header';
@import './style/settings';
@import './style/info';
