html {
  box-sizing: border-box;
}

body {
  font-family: 'Georgia';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #d8d8d8;
}

.score {
  display: flex;
  width: 500px;
  justify-content: space-between;
  order: 0;
}

.time,
.sum-mine {
  font-size: 30px;
  margin-bottom: 20px;
}

.settings {
  display: flex;
  justify-content: space-between;
  width: 500px;
  order: 5;
}