html {
  box-sizing: border-box;
}

.body {
  background-image: url(assets/image/sun/lawn.png);
  // background-size: cover;
}

.body_night {
  background-image: url(assets/image/night/lawn.gif);
  // background-size: cover;
}

.main {
  font-family: 'Comic-sans';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}