.button {
  width: 105px;
  height: 25px;
  margin: 30px 0;
  border: solid 1px $color-dark;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background-color: $color-gray;
  }
}

.button__night-theme {
  background-image: url(assets/image/night/moon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 25px;
}


.button__night-theme_on {
 background-image: url(assets/image/sun/sun.png);
}

.button__sound {
  background-image: url(assets/image/sound-on.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.button__sound_off {
  background-image: url(assets/image/sound-off.png);
}