.button {
  width: 105px;
  height: 25px;
  margin: 30px 0;
  border: solid 1px $color-dark;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background-color: $color-gray;
  }
}

.button-on {
  background-color: $color-gray;
}

.button__night-theme,
.button__sound {
  height: 40px;
  width: 40px;
}