$color-1: #ca7300;
$color-2: #8aaf02;
$color-3: #008a7e;
$color-4: #2293f0;
$color-5: #4a38e9;
$color-6: #af33e9;
$color-7: #e62ba7;
$color-8: #bd311f;
$color-ligth: #cfcfcf;
$color-small-ligth: #e7e7e7;
$color-dark: #1a1a1a;
$color-gray: #6b6b6b;
$color-win: #62ccfe;
$color-lose: rgb(173, 51, 9);

$tablet-width: 768px;