.field {
  display: grid;
  grid-gap: 5px;
  background-color: #f5f5dc;
  border: solid 5px #f5f5dc;
  border-radius: 8px;
  order: 1;
}

.field-eazy {
  height: 490px;
  width: 490px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  font-size: 30px;
}

.field-medium {
  height: 690px;
  width: 690px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  font-size: 25px;
}

.field-hard {
  height: 1000px;
  width: 1000px;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  font-size: 20px;
}