.header {
  display: flex;
  width: 500px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 35px;
  }
  img {
    margin: auto 0;
    height: 90px;
  }
}