.item {
  display: none;
}

.item-mine__image {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

.item-on {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.item-1 {
  color: $color-1;
}

.item-2 {
  color: $color-2;
}

.item-3 {
  color: $color-3;
}

.item-4 {
  color: $color-4;
}

.item-5 {
  color: $color-5;
}

.item-6 {
  color: $color-6;
}

.item-7 {
  color: $color-7;
}